MEMORY {
    # 2KB System Work RAM (CPU)
    ZP:     start = $00,    size = $100,  type = rw, define = yes;
    RAM:    start = $0200,  size = $0600, type = rw;

    # iNES Cartridge Header (16 bytes)
    HEADER: start = $0,     size = $10,   type = ro, file = %O, fill = yes;

    # 16KB PRG-ROM Bank (mapped to $C000-$FFFF for a simple NROM-128 cartridge)
    ROM:    start = $C000,  size = $3FFA, type = ro, file = %O, fill = yes, define = yes;

    # Hardware Interrupt Vectors (6 bytes)
    VECTS:  start = $FFFA,  size = $6,    type = ro, file = %O, fill = yes;

    # 8KB CHR-ROM Bank (Graphics tiles)
    CHR:    start = $0000,  size = $2000, type = ro, file = %O, fill = yes;
}

SEGMENTS {
    HEADER:   load = HEADER,            type = ro;
    ZEROPAGE: load = ZP,                type = zp;
    BSS:      load = RAM,               type = bss;
    CODE:     load = ROM,               type = ro;
    RODATA:   load = ROM,               type = ro;
    VECTORS:  load = VECTS,             type = ro;
    CHARS:    load = CHR,               type = ro;
}

